<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memes Generator</title>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <script>
      var parsed_data = <%- JSON.stringify(memes) %> 
    </script>

    <div class="container">
      <img src="" alt="meme" id="meme" />
      <h3 id="title"></h3>
      <div class = "buttons-container">
        <button id="next-meme-btn">Next Meme</button>

      </div>
        <h5>Welcome! <%= user.userName %> </h5>
        <h4><a href="/">Back to generator</a> | <a href="/logout">Logout</a></h4> 
    <!-- Script -->
    <script src="savedScript.js"></script>
    
</html>
